.Login {}

.fieldGroup {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fieldLabel {
    text-align: end;
    width: 6rem;
}

.group {
    text-align: start;
}

.cardBody {
    padding: 1rem 3rem;
}

@media only screen and (max-width: 400px) {
    .cardBody {
      padding: 1rem;
    }
  }